<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="./logs" />

    <!-- Console에 로그를 기록 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- 파일에 로그를 기록 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_ABSOLUTE_PATH}/logback.log</file>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_ABSOLUTE_PATH}/logback.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- 로그 파일의 최대 용량 -->
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- 일자별 로그의 최대 생명주기(일) 30일지나면 해당일 지난 파일은 삭제됨 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--
         root 레벨 설정
         전역적인 설정
    -->
    <root level="INFO">
        <appender-ref ref="Console" />
    </root>

    <!--
        org.springframework.web 하위 동작하는 디버그 로그를 콘솔, 파일에 출력
        지역적인 설정
    -->
    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </logger>
</configuration>